{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

        {% if original.id %}
          var remake_post_url = '{% url 'remake_post' id=original.id %}';
          var remake_post_ai_url = '{% url 'remake_post_by_ai' id=original.id %}';
        {% else %}
          {# Handle the case when original.id is not defined or empty #}
          var remake_post_url = '{% url 'remake_post_empty' %}';
          var remake_post_ai_url = '{% url 'remake_empty_post_by_ai' %}';
        {% endif %}


        function rebuildPost() {
            $.ajax({
                url: remake_post_url,
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    var data = response; // Modify this according to your API response structure
                    var resultField = document.getElementById('id_post');

                    // Set the value of the text field with the special class
                    resultField.value = data;
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function remakePost() {
            var from_date = document.getElementById('id_from_date_0').value + ' ' + document.getElementById('id_from_date_1').value
            var to_date = document.getElementById('id_to_date_0').value + ' ' + document.getElementById('id_to_date_1').value

            var place_id = document.getElementById('id_place').value

            var data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: '{{ original.id }}',
                place_id: place_id,
                title: document.getElementById('id_title').value,
                full_text: document.getElementById('id_full_text').value,
                url: document.getElementById('id_url').value,
                price: document.getElementById('id_price').value,
                address: document.getElementById('id_address').value,
                from_date: from_date,
                to_date: to_date,
            };

            $.ajax({
                url: remake_post_url,
                method: 'POST',
                dataType: 'json',
                data,
                success: function(response) {
                    // Assuming the response is a JSON object
                    var data = response; // Modify this according to your API response structure
                    var resultField = document.getElementById('id_post');
                    // Set the value of the text field with the special class
                    resultField.value = data;
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function remakePostByAi() {
            var from_date = document.getElementById('id_from_date_0').value + ' ' + document.getElementById('id_from_date_1').value
            var to_date = document.getElementById('id_to_date_0').value + ' ' + document.getElementById('id_to_date_1').value

            var place_id = document.getElementById('id_place').value

            var data = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: '{{ original.id }}',
                place_id: place_id,
                title: document.getElementById('id_title').value,
                full_text: document.getElementById('id_full_text').value,
                url: document.getElementById('id_url').value,
                price: document.getElementById('id_price').value,
                address: document.getElementById('id_address').value,
                from_date: from_date,
                to_date: to_date,
            };

            $.ajax({
                url: remake_post_ai_url,
                method: 'POST',
                dataType: 'json',
                data,
                success: function(response) {
                    var data = response;
                    var resultFieldFullText = document.getElementById('id_full_text');
                    var resultFieldTitle = document.getElementById('id_title');
                    // Set the value of the text field with the special class
                    resultFieldFullText.value = data[0]['full_text'];
                    resultFieldTitle.value = data[0]['title'];
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        }


        (function ($) {
            $(document).ready(function () {
                $('.place-autocomplete').on('input', function () {
                    var query = $(this).val();
                    $.get('/place/place-autocomplete/', { query: query }, function (data) {
                        var resultsDiv = $('#place-autocomplete-results');
                        resultsDiv.empty();
                        console.log(data['results'])
                        data.results.forEach(function (result) {
                            console.log(result)
                            resultsDiv.append('<div><a href="#" data-id="' + result.id + '">' + result.place_name + '</a></div>');
                        });
                    });
                });

                $('#place-autocomplete-results').on('click', 'a', function (e) {
                    e.preventDefault();
                    var placeId = $(this).data('id');
                    var placeName = $(this).text();
                    $('.place-autocomplete').val(placeName);
                    $('#id_place').val(placeId);
                });
            });
        })(django.jQuery);


    </script>



{% block object-tools %}
    <ul class="object-tools">
      <li>
          <a href="#" onclick="remakePost()"  alt="It uses value of title, full_text, date_from, price, url">Remake post</a>
      </li>
      <li>
          <a href="#" onclick="remakePostByAi()"  alt="It uses value of title, full_text, date_from, price, url">Remake post by GPT</a>
      </li>
      <li>
          <a href="#" onclick="hideFullText()" id="hide_full_text">Show full text</a>
      </li>

        {% if change %}
            {% if not is_popup %}
                {% block object-tools-items %}
                    {% change_form_object_tools %}
                {% endblock %}
            {% endif %}
        {% endif %}

    </ul>
{% endblock %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}


{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
{% block field_sets %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
    <script>
    document.getElementsByClassName('form-row field-full_text')[0].style.display = "none";

    function hideFullText() {
            var fullText = document.getElementsByClassName('form-row field-full_text')[0];
            var button = document.getElementById('hide_full_text');
            if (fullText.style.display === "none") {
                fullText.style.display = "block";
                button.innerHTML = 'Hide full text';
            } else {
                fullText.style.display = "none";
                button.innerHTML = 'Show full text';
            }
        }
    </script>
{% endblock %}
